<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755805731317-f1on2irbnshoi4b2gulu2nd35rujflki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755805731317-f1on2irbnshoi4b2gulu2nd35rujflki</string>
	<key>API_KEY</key>
	<string>AIzaSyAEKk8Yjf6Uchv9Cc0z7X7EpEiaRJHZqXo</string>
	<key>GCM_SENDER_ID</key>
	<string>755805731317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wilsonToursApp</string>
	<key>PROJECT_ID</key>
	<string>wilson-tours-541b9</string>
	<key>STORAGE_BUCKET</key>
	<string>wilson-tours-541b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755805731317:ios:013bfc074bba77c15c48bc</string>
</dict>
</plist>